@keyframes incorrect {
    to   { background-color: red; }
}

@keyframes correct {
    to   { background-color: lightgreen; }
}

body {
    font-size: 2em;
    
}

p, h2 {
    margin: 0;
}

a {
    text-decoration: none;
}
